<div class="row">
    <div class="large-3 medium-4 columns panel" ng-app="selectVid">
        <h3>Video selection</h3>
        <hr>
        <div class="row" ng-controller="selectCtrl">
            <div class="row" ng-repeat="video in videos">
                <div class="large-2 medium-3 columns">
                    <a ng-click="loadVideo(video.video_path,video.video_mdp, $event)">{{video.video_name}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="large-9 medium-8 columns flex">
        <!--<source id="mdp" type="application/dash+xml" src="/mon_manifeste_video.mpd.mdp" />-->
        <video controls="true">
            <source id="manifest" src="/yowamyshi.mpd" type="application/dash+xml">
            <source id="video" src="/yowamyshi.mp4">
            Votre navigateur ne supporte pas la balise video.
        </video>
        <label for="quality"> Quality selection</label>
        <select name="quality" id="quality" ng-model="qualitySelect" ng-change="changeQuality()">
            <option value="480">480</option>
            <option value="540">540</option>
            <option value="720">720</option>
            <option value="0">1080</option>
        </select>
    </div>
</div>