<div>
    <div class="row">
        <h1>Upload a new file</h1>
    </div>
    <div class="row panel radius">
        <div class="medium-5 columns">
            <form action="" method="post" enctype="multipart/form-data">
                <label for="file">Upload a file:<input type="file" id="file"></label>
                <input type="submit" class="button tiny">
            </form>
        </div>
    </div>
</div>